/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;  
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#1d2026;
}

::selection{
  color: #fff;
  background: #1d2026;
}
.fill{
    width: 0;
}
#wrapper{
  min-width: 50%;
  min-height: 70%;
  background: #454c5a;
  border-radius: 5px;
  padding: 30px;
  box-shadow: 7px 7px 12px rgba(0,0,0,0.05);
  z-index: 9;
}
#wrapper header{
  color: #adc3fa;
  font-size: 27px;
  font-weight: 600;
  text-align: center;
}
#wrapper form{
  min-height: 50%;
  display: flex;
  cursor: pointer;
  margin: 30px 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  border: 2px dashed #adc3fa;
}
form :where(i, p){
  color: #adc3fa;
}
form i{
  font-size: 50px;
}
form p{
  margin-top: 15px;
  font-size: 16px;
}

section .row{
  margin-bottom: 10px;
  background: #E9F0FF;
  list-style: none;
  padding: 15px 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section .row i{
  color: #7283a6;
  font-size: 30px;
}
section .details span{
  font-size: 14px;
}
.progress-area .row .content{
  width: 100%;
  margin-left: 15px;
}
.progress-area .details{
  display: flex;
  align-items: center;
  margin-bottom: 7px;
  justify-content: space-between;
}
.progress-area .content .progress-bar{
  height: 6px;
  width: 100%;
  margin-bottom: 4px;
  background: #fff;
  border-radius: 30px;
}
.content .progress-bar .progress{
  height: 100%;
  width: 0%;
  background: #7283a6;
  border-radius: inherit;
}
.uploaded-area{
  max-height: 232px;
  overflow-y: scroll;
}
.uploaded-area.onprogress{
  max-height: 150px;
}
.uploaded-area::-webkit-scrollbar{
  width: 0px;
}
.uploaded-area .row .content{
  display: flex;
  align-items: center;
}
.uploaded-area .row .details{
  display: flex;
  margin-left: 15px;
  flex-direction: column;
}
.uploaded-area .row .details .size{
  color: #404040;
  font-size: 11px;
}
.uploaded-area i.fa-check{
  font-size: 16px;
}




#navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 5%;
  background-color: #1d2026;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

nav{
  display: flex;
  align-items: center;
  padding: 20px 8%;
  }

nav .menu-img {
    width: 25px;
    margin-right: 20px;
    cursor: pointer;
}

nav .logo {
    /* width: 160px; */
    
    cursor: pointer;

}

nav ul{
    flex: 1;
    text-align: right;

}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0 20px;
}

nav ul li a{
    text-decoration: none;
    color: white;
}



#loading-container {
  min-width: 100%;
  height: 100%; 
  background: #1d2026; 
  text-align: center;
  z-index: 9;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#loading-container p{
    color: white;
}

.bar {
  background: #b6b6b6;
  width: 90%;
  height: 50px;
  margin: 10px auto;
  border-radius: 50px;
  overflow: hidden;
}

.fill {
  height: 100%;
  width: 1%;
  background: linear-gradient(45deg, #008998, #00d199);
}


#editor-container {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #1d2026;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#editor-container p{
    color: white;
}

#loading-container p {
  color: white;
  animation: fadeInOut 8s infinite;
}

#save-transcript{
    display: none;
}

#delete-transcript{
    display: none;
}

.transcript-container-wrapper {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.transcript-container {
  width: 100%;
  height: 100%;
  padding-top: 10px;
  margin-left: 3%;
  float: left;
  font-family: Arial, sans-serif;
  border: 2px white;
  overflow: scroll;
}
.transcript-container::-webkit-scrollbar{
  display: none;
}
.transcript-container-editing {
  width: 100%;
  height: 100%;
  margin-left: 3%;
  float: left;
  font-family: Arial, sans-serif;
  padding: 50px;
  border: 2px white;
  overflow: scroll;
  background: #404040;
}
.transcript-container-editing::-webkit-scrollbar{
  display: none;
}

#transcript-editing {}

#transcript-editing p{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 2%;
}

#transcript-editing span::selection{
    background-color:#00d199;
}


#transcript-editing span{}

#transcript-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

#transcript p{
  font-size: 24px;
  font-weight: bold;
  
}

#transcript span{
  transition: 0.32s;
}

#transcript span:hover {
  color: #00d199;
  font-size: 28px;
}

/* .transcript-textarea {
  width: 100%;
  height: 80%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  resize: none;
} */

.transcript-controls {
   margin-bottom: 5px;
  margin-left: 3%;
  text-align: right;
}

.transcript-controls button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #00986f;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.video-container{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    float: right;
    padding: 50px;
}

#video{
 width: 100%; 
}

.video-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.video-canvas {
  width: 100%;
  height: 60%;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.video-container video {
  width: 100%;
}

#timeline {
  width: 100%;
  height: 20%;
  margin-top: 20px;
  background-color: #454c5a;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;

}

#screenshotContainer {
    display: flex;
    flex-direction: row;
    position: relative;
    overflow-x: hidden;
    white-space: nowrap;
}
.screenshot {
    width: 160px;
    height: 90px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
#bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 100%;
    background-color: white;
    cursor: pointer; 
}

#timeline button{
    font-size: 16px;
    background-color: #00986f;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 8px 8px;
    padding-bottom: 10px;

}

#timeline-controls {
    display: flex;
    flex-direction: column; 
    padding: 10px 8px 10px 5px;;
}

#cut{
    margin-bottom: 5px; /* add margin below the first button */
}

#start{
    display: none;
    margin-bottom: 5px; /* add margin below the first button */
}

#end{
    display: none;
    margin-top: 5px;
}
