{% load static%}

<html>
  <head>
    <link rel="icon" type="image/png" href="{% static 'images/Logo-32.png' %}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{% static 'images/Logo-16.png' %}" sizes="16x16" />

    <link rel="stylesheet" href="{% static 'css/video-editing.css' %}"/>
    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css'/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'timeline/samples/css/default.css' %}" rel="stylesheet"/>
    
    <script src="{% static 'timeline/bower_components/jquery/dist/jquery.js' %}"></script>
    <script src="{% static 'timeline/bower_components/jquery-ui/jquery-ui.min.js' %}"></script>        
    <script src="{% static 'timeline/bower_components/raphael/raphael.js' %}"></script>
    <!-- style-player -->        
    <link href="{% static 'timeline/build/css/amalia.js.min.css' %}" rel="stylesheet"/>
    <!-- /style-player -->        
    <!-- script-player -->        
    <script src="{% static 'timeline/build/js/amalia.js.min.js' %}"></script>
    <script src="{% static 'timeline/build/js/amalia.js.min.js' %}"></script>    

    <script src="{% static 'timeline/build/js/i18n/amalia.js-message-en.js' %}"></script>
    <!-- /script-player -->

    <title>Transcript-Editing</title>
  </head>
  <body>
    
    <div id="wrapper">
      <header>Upload A Video File</header>
      <form action="/uploads/" method ="POST" enctype = "multipart/form-data">
         {% csrf_token %} 
        <input class="file-input" type="file" name="file" hidden>
        <i class="fas fa-cloud-upload-alt"></i>
        <p>Browse File to Upload</p>
      </form>
      <section class="progress-area"></section>
      <section class="uploaded-area"></section>
    </div>
    
    <div id="loading-container">
      <div class="bar">
          <div class="fill"></div>
      </div>
    </div>

    <button onclick="upload()">upload</button>

    <!-- Transcript Container -->
    <div id="editor-container">
      
      

      <div id="navbar">
        <nav>
            <ul>
            </ul>
        </nav>
      </div>

      <div class="transcript-container-wrapper">

          <div class="transcript-controls">
              <button id="edit-transcript", onclick="editTranscript()">Edit</button>
              <button id="save-transcript", onclick="saveTranscript()">Save</button>
              <button id="delete-transcript", onclick="deleteTranscript()">delete</button> 
          </div>

          <div class="transcript-container">
              <div class="transcript-header">
                  <p></p>
              </div>

              <!-- Transcript -->
              <div id = "transcript">

              </div> 
          </div>
      </div>

      <!-- Video -->
<!--      <div class="video-container">
        <div class="video-feild">
          
        
        <video id="video" controls>
          <source id="source" type="video/mp4">
        </video>
      </div>

        <!-- Timeline -->

        <div class="video-container">
            <div class="header">
                 
            </div>
            <div class="content">           
                <div class="demo">
                    <div>
                        <div id="defaultPlayer" ></div>
                    </div>
                    <div id="amalia-timeline" ></div>
                    <script src="{% static 'js/generate-timeline.js' %}"></script>
                </div>
            </div>
      </div>
      </div>
      <script src="{% static 'js/upload-video.js' %}"></script>
      <script src="{% static 'js/transcript-generation.js' %}"></script>
      <script src="{% static 'js/transcript-editing.js' %}"></script>
      <script>       
          document.addEventListener("DOMContentLoaded", function() {
              console.log("----------------DOMContentLoaded------------------------")
          });
    </script>

      

      </body>
