{% load static%}

<html>
  <head>
    <link rel="icon" type="image/png" href="{% static 'images/Logo-32.png' %}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{% static 'images/Logo-16.png' %}" sizes="16x16" />

    <link rel="stylesheet" href="{% static 'css/video-editing.css' %}"/>
    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css'/>

    <title>Transcript-Editing</title>
  </head>
  <body>
    
    <div id="wrapper">
      <header>Upload A Video File</header>
      <form action="/uploads/" method ="POST" enctype = "multipart/form-data">
         {% csrf_token %} 
        <input class="file-input" type="file" name="video" id="id_video" hidden>
        <i class="fas fa-cloud-upload-alt"></i>
        <p>Browse File to Upload</p>
      </form>
      <section class="progress-area"></section>
      <section class="uploaded-area"></section>
    </div>
    
    <div id="loading-container">
      <div class="bar">
          <div class="fill"></div>
      </div>
      <p>Loading your workspace...</p>
    </div>


    <!-- Transcript Container -->
    <div id="editor-container">
      
      

      <div id="navbar">
        <nav>
            <ul>
            </ul>
        </nav>
      </div>

      <div class="transcript-container-wrapper">

          <div class="transcript-controls">
              <button id="edit-transcript", onclick="editTranscript()">Edit</button>
              <button id="download-transcript", onclick="downloadTranscript()">Download</button>
              <button id="save-transcript", onclick="saveTranscript()">Save</button>
              <button id="delete-transcript", onclick="deleteTranscript()">delete</button> 
          </div>

          <div class="transcript-container">
              <div class="transcript-header">
                  <p></p>
              </div>

              <!-- Transcript -->
              <div id = "transcript">

              </div> 
          </div>

      </div>

      <!-- Video -->

          
      <div class="video-container">

          <video id="video" controls>
              <source id="source" type="video/mp4">
          </video> 
      </div> 
      <div id="timeline">
          <div id="timeline-controls">
              <button id="cut" onclick="cuttingMode()">cut</button>
              <button id="start" onclick="startCut()">start</button>
              <button id="end" onclick="endCut()">end</button>
          </div> 
          <div id="screenshotContainer">
              <div id="bar"></div>
          </div>
      </div>

      <script src="{% static 'js/upload-video.js' %}"></script>
      <script src="{% static 'js/transcript-generation.js' %}"></script>
      <script src="{% static 'js/transcript-editing.js' %}"></script>
      <script src="{% static 'js/video-editing.js' %}"></script>
      <script src="{% static 'js/generate-timeline.js' %}"></script>
      <script>       
          document.addEventListener("DOMContentLoaded", function() {
              console.log("----------------DOMContentLoaded------------------------")
          });
      </script>



  </body>
