{% load static%}

<html>
  <head>
    <link rel="icon" type="image/png" href="{% static 'images/Logo-32.png'%}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{% static 'images/Logo-16.png'%}" sizes="16x16" />

    <link rel="stylesheet" href="{% static 'css/video-editing.css'%}">
    <link rel="stylesheet" href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css'%}"/>

    <title>Transcript-Editing</title>
  </head>
  <body>
    
    <div id="wrapper">
      <header>Upload A Video File</header>
      <form method ="POST" enctype = "multipart/form-data">
         {% csrf_token %} 
         {{ new_form.as_p }} 
        <input class="file-input" type="file" name="file" hidden>
        <i class="fas fa-cloud-upload-alt"></i>
        <p>Browse File to Upload</p>
      </form>
      <section class="progress-area"></section>
      <section class="uploaded-area"></section>
    </div>

    <!-- Transcript Container -->
    <div id="editor-container">
      
      

      <div id="navbar">
        <nav>
            <!-- <a href="Home.html"><img src="images/Logo.png" class="logo"></a> -->
            <ul>
                <!-- <li><a href="">Start</a></li> -->
                <!-- <li><a href="">Hello</a></li>
                <li><a href="">Contemporary</a></li>
                <li><a href="">Affordable</a></li> -->
            </ul>
        </nav>
      </div>

      <div class="transcript-container">
        <div class="transcript-header">
          <p></p>
        </div>

        <!-- <textarea class="transcript-textarea"></textarea> Will not use text area for now 
        since we are not ready to add the addition functionality -->
        
        <!-- Transcript -->
        <div id = "transcript">
          
        </div>
        <div class="transcript-controls">
          <button id="save-transcript-button">Save</button>
        </div>
      </div>

      <!-- Video -->
      <div class="video-container">
        <div class="video-feild">
          
        
        <video id="video" controls>
          <source id="source" type="video/mp4">
        </video>
        <!-- <canvas class="video-canvas"></canvas>  We do not need a canvas for now -->
      </div>

        <!-- Timeline -->
        <div id="timeline">
          <div class="timeline-container">
            <div class="timeline-header">
              Timeline
            </div>
            <div class="timeline"></div>
            <div class="timeline-controls">
              <!-- <button id="play-button">Play</button>
              <button id="pause-button">Pause</button>
              <button id="stop-button">Stop</button> -->
            </div>
          </div>
        </div>

      </div>
      </div>
      <script src="{% static 'js/upload-video.js' %}"></script>
      <script src="{% static 'js/video-editing.js' %}"></script>
      
      

      </body>

        
